/* Global */
:root {
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font Weight */
  --weight-bold: 700px;
  --weight-semi-bold: 500px;
  --weight-regular: 400px;
  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 4px 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6666ff;
  align-items: center;
  color: white;
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item.active {
  border: 1px solid white;
}
.navbar__menu__item:hover {
  background-color: darkblue;
}

#home {
  background: url(./img/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__picture {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 2px solid white;
}

.home__content,
.home__title {
  color: white;
}

.home__button {
  font-size: var(--font-regular);
  font-weight: var(--font-medium);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}
