/* Global */
:root {
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font Weight */
  --weight-bold: 700px;
  --weight-semi-bold: 500px;
  --weight-regular: 400px;
  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 4px 0px;
}

.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6666ff;
  align-items: center;
  color: white;
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item.active {
  border: 1px solid white;
}
.navbar__menu__item:hover {
  background-color: darkblue;
}

/* Home */

#home {
  background: url(./img/home-background.png) center/cover no-repeat;
}

.home__picture {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 2px solid white;
}

.home__content,
.home__title {
  color: white;
}

.home__button {
  font-size: var(--font-regular);
  font-weight: var(--font-medium);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.home__button:hover {
  background-color: darkblue;
}

/* About */

.about__skills {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.skills__icon {
  width: 170px;
  height: 170px;
  margin: auto;
  line-height: 170px;
  font-size: 60px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 16px;
}

.skills__icon :hover {
  color: blue;
  transform: rotate(30deg) scale(1.4);
}

.skills__icon i {
  transition: all 300ms ease;
}

.skills__title,
.skills__text {
  font-size: var(--font-small);
}

.skills__text {
  margin-top: 16px;
}

/* Skills */

#skills {
  background-color: #3c64ff;
}

.skillset {
  display: flex;
  background-color: lightgrey;
  margin: 20px 0px;
}

.skillset__right {
  flex-basis: 40%;
  color: white;
}

.skillset__left {
  flex-basis: 60%;
  background-color: darkgrey;
  color: white;
  padding: 20px 40px;
}

.tools {
  background-color: grey;
}

.skillset__title {
  margin: 0;
  color: white;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  margin-bottom: 20px;
}

.skill__value {
  height: 3px;
  background-color: yellow;
}

.tools,
.etc {
  padding: 30px;
}

/* Work */
.category__btn {
  border: 1px solid black;
  border-radius: 4px;
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: darkblue;
  color: white;
}

.category__count {
  background-color: orange;
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 300ms ease;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 300ms ease-in;
}

.project:hover .project__explanation {
  opacity: 0.8;
  transform: translateX(0px);
}

.project__explanation h3 {
  color: white;
}

/* Contact */

#contact {
  background-color: #6666ff;
}

.contact__title,
.contact__email {
  color: white;
}
.contact__title {
  margin: 32px 0px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0px;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: blue;
  transition: all 300ms ease-in;
}
